.loader
    z-index: 999999
    color: red
    width: 100vw
    position: fixed
    top: 0
    left: 0
    height: 100vh
    background-color: #89db89cc
    display: flex
    place-items: center
    place-content: center
    &.loaded
        opacity: 0
