.loader {
  z-index: 999999;
  color: red;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #333;
  display: flex;
  place-items: center;
  place-content: center;
}
.loader.loaded {
  display: none;
}
.loader .container {
  position: relative;
}
.loader .container .spinner {
  padding: 50px;
  -webkit-animation: rotate 5s 3s alternate infinite;
          animation: rotate 5s 3s alternate infinite;
}
.loader .container .spinner .round {
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #F5F5F5;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
}
.loader .container .spinner .round .ellipse {
  position: absolute;
}
.loader .container .spinner .round .ellipse::after {
  content: "";
  display: block;
  height: 15px;
  width: 5px;
  background: red;
  border-radius: 50%;
  transform: translateY(-20px);
  -webkit-animation: displace 5s 3s alternate infinite;
          animation: displace 5s 3s alternate infinite;
}
.loader .container p {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes displace {
  0% {
    transform: translateY(-20px);
    width: 5px;
    height: 15px;
  }
  10% {
    transform: translateY(-20px);
    width: 5px;
  }
  60% {
    transform: translateY(-40px);
    width: 10px;
    height: 10px;
  }
  100% {
    transform: translateY(-45px);
    width: 10px;
    height: 10px;
  }
}
@keyframes displace {
  0% {
    transform: translateY(-20px);
    width: 5px;
    height: 15px;
  }
  10% {
    transform: translateY(-20px);
    width: 5px;
  }
  60% {
    transform: translateY(-40px);
    width: 10px;
    height: 10px;
  }
  100% {
    transform: translateY(-45px);
    width: 10px;
    height: 10px;
  }
}