*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    overflow-x: hidden
    background-color: #333
    min-height: 200vh
.App
    min-height: 100vh
    section
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        &:nth-child(1)
            background: red
        &:nth-child(2)
            background: yellow
        &:nth-child(3)
            background: orange
        &:nth-child(4)
            background: green
        &:nth-child(5)
            background: blue
        &:nth-child(6)
            background: indigo
        &:nth-child(7)
            background: violet
        &:nth-child(8)
            background: white
        &:nth-child(9)
            background: black
            color: white